{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <div class="banner">
        <div class="slide1">
            <div class="slide_inside">Coucou</div>
        </div>
    </div>
    <div class="umpah"></div>
{% endblock %}
